extends index

block content
  container.container
    div.catsRow 
      each cat in cats
        a(href="/cats/"+cat.id)
          div.catCard
            img(src=cat.imageUrl).catCardImg
            div.catCardName #{cat.breed.name}
            
